<div>
<div class="block1">

    
   <div class="content">
        <div class="img_bl">
            <img src="./assets/img_proj_3.png" alt="">

            <div class="meseg">
                    <div class="logo">
                        <img src="./assets/logo.png" alt="">
                    </div>

                    <div class="title">
                        <h1>Discover </h1>
                        <h1>our new rates</h1>
                    </div>

                    <div class="text">
                        <p>Do not miss the series and movies of the moment, all the content at a click</p>
                        <a href="">www.pelifilm.com</a>
                    </div>

                    <div class="btn_bl">
                        <p><a routerLink="/comp3">Subscribe Now</a></p>
                    </div>

                    
            <div class="box_icons">
                <div onclick="location.href='https://www.google.com.ua/';"><img src="./assets/twiter_1.png" alt="twiter" ></div>
                <div onclick="location.href='https://www.google.com.ua/';"> <img src="./assets/facebook_1.png" alt="facebook"></div>
                <div onclick="location.href='https://www.google.com.ua/';"> <img src="./assets/instagram_01.png" alt="instagram"></div>
                <div onclick="location.href='https://www.google.com.ua/';"> <img src="./assets/tiktok_1.png" alt="tiktok"></div>
               
            </div>

            <div class="footer_conteiner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada sapien ex, id egestas arcu gravida sed. Vestibulum tempor vehicula lorem</p>
                
            </div>
            </div>
        </div>
    </div>
    
   
</div>
</div>