
<div>
<div class="block1">

    
    <div class="content">
         <div class="img_bl">
             <img src="./assets/img_proj_5.png" alt="">
             <div class="logo">
                <img src="./assets/logo.png" alt="">
            </div>
             <div class="meseg">
               

                <div class="title">
                    <h1>Use our premium  </h1>
                    <h1>subscription now</h1>
                </div>

                <div class="text">
                    <p>Do not miss the series and movies of the moment, all the content at a click</p>
                    <a routerLink="/comp0">www.pelifilm.com</a>
                </div>

                <div class="box_icons">
                    <div onclick="location.href='https://www.google.com.ua/';"><img src="./assets/twiter_1.png" alt="twiter" ></div>
                        <div onclick="location.href='https://www.google.com.ua/';"> <img src="./assets/facebook_1.png" alt="facebook"></div>
                        <div onclick="location.href='https://www.google.com.ua/';"> <img src="./assets/instagram_01.png" alt="instagram"></div>
                        <div onclick="location.href='https://www.google.com.ua/';"> <img src="./assets/tiktok_1.png" alt="tiktok"></div>
                       
                </div>

             </div>
         </div>
     </div>
     
    
 </div>

</div>